/* Colors */
$brand:    #213a8f;

/* Font stacks */
$sans-serif:  "museo-sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif:       Georgia, Times, 'Times New Roman', serif;

/* Base config */
$base-font-size:          1.6rem;
$base-font-family:        $sans-serif;
$base-line-height:        1.5;
$base-text-color:         #444;
$base-background-color:   #fff;

/* Default spacings */
$base-space:             20px;
$base-space--quarter:    calc($base-space / 4);
$base-space--half:       calc($base-space / 2);
$base-space--double:     calc($base-space * 2);
$base-space--triple:     calc($base-space * 3);
$base-space--quadruple:  calc($base-space * 4);

/* Headings */
$h1-font-size:      3.6rem;
$h2-font-size:      3.0rem;
$h3-font-size:      2.4rem;
$h4-font-size:      2.0rem;
$h5-font-size:      1.6rem;
$h6-font-size:      1.4rem;
$heading-font-color:       #222;
$heading-font-family:        $sans-serif;
$heading-font-weight:      bold;
$heading-line-height: 1.125;

/* Links */
$base-link-color: $flat-blue;
$base-link-color-hover: $flat-blue-dk;

/* Forms */
$form-border-color:       white;
$form-border-hover-color: $brand;
$form-border-focus-color: $brand;
$form-submit-btn-background: $brand;

/* Tables */
$table-padding--compact:  $base-space--quarter;
$table-padding--cosy:     $base-space--half;
$table-padding--comfy:    $base-space;
$table-border-width:      1px;
$table-border-style:      solid;
$table-border-color:      $light;

/* Breakpoints */
$breakpoint_phablet: 	480px;
$breakpoint_tablet: 	768px;
$breakpoint_desktop:	992px;
$breakpoint_wide: 		1200px;

/* Centering containers max-width config */
$breakpoint_phablet_max_width: 	480px;
$breakpoint_tablet_max_width: 	750px;
$breakpoint_desktop_max_width:	970px;
$breakpoint_wide_max_width: 		1170px;

/* Centering containers default side padding */
$default-container-padding:     $base-space;

/* Buttons */
$btn-padding:          $base-space;
$btn-padding--tiny:    $base-space--quarter;
$btn-padding--small:   $base-space--half;
$btn-padding--large:   $base-space--double;
$btn-background:       white;
$btn-hover-background: $off-white;
$btn-color:            #444;
$btn-border-width:     1px;
$btn-border-style:     solid;
$btn-border-color:     $grey9;
$btn-radius:           3px;