/* User input code. Use the <kbd> to indicate input that is typically entered via keyboard. */
kbd {
  padding: 3px 6px;
  font-size: 95%;
  color: white;
  background-color: black;
  border-radius: 3px;
}

/* Code blocks. */
pre {
  display: block;
  padding: 0;
  color: black;
  margin-bottom: $base-space;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f6f6f6;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  line-height: 1;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}