/* Paragraphs */
p {
	margin-bottom: $base-space;
	&.lead {
		font-size: calc($base-font-size * 1.2);
	}
}

/* Headings
Headings 1-6 have corresponding abstract classes for double-stranded heading hierarchy.
*/
h1, .h1 {
	font-size: $h1-font-size;
}

h2, .h2 {
	font-size: $h2-font-size;
}

h3, .h3 {
	font-size: $h3-font-size;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $heading-font-color;
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	font-weight: $heading-font-weight;
	margin: 0 0 $base-space 0;
}

/* Links */
a {
	text-decoration: none;
	color: $base-link-color;
	&:hover, &:focus {
		color: $base-link-color-hover;
	}
	&.text-link {
		text-decoration: underline;
	}
	&.fancy-text-link {
		padding-bottom: 1px;
		border-bottom: 1px dotted $base-link-color;
		&:hover, &:focus {
			border-bottom: 1px dotted $base-link-color-hover;
		}
	}
}















