/*!
Theme Name: exeve-theme
Theme URI: http://www.exeve.co.uk/
Author: Paul Godney
Author URI: http://www.purposemedia.co.uk/
Description:A custom WprdPress theme for Exeve
Version: 1.0.0
Text Domain: wpf
Tags:
*/

html{
  font-family:sans-serif;
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
}

article,
aside,
footer,
header,
nav,
section{
  display:block;
}

h1{
  font-size:2em;
  margin:0.67em 0;
}

figcaption,
figure,
main{
  display:block;
}

figure{
  margin:1em 40px;
}

hr{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  height:0;
  overflow:visible;
}

pre{
  font-family:monospace, monospace;
  font-size:1em;
}

a{
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}

a:active,
a:hover{
  outline-width:0;
}

abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  text-decoration:underline dotted;
}

b,
strong{
  font-weight:inherit;
}

b,
strong{
  font-weight:bolder;
}

code,
kbd,
samp{
  font-family:monospace, monospace;
  font-size:1em;
}

dfn{
  font-style:italic;
}

mark{
  background-color:#ff0;
  color:#000;
}

small{
  font-size:80%;
}

sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-0.25em;
}

sup{
  top:-0.5em;
}

audio,
video{
  display:inline-block;
}

audio:not([controls]){
  display:none;
  height:0;
}

img{
  border-style:none;
}

svg:not(:root){
  overflow:hidden;
}

button,
input,
optgroup,
select,
textarea{
  font:inherit;
  margin:0;
}

optgroup{
  font-weight:bold;
}

button,
input{
  overflow:visible;
}

button,
select{
  text-transform:none;
}

button, html [type="button"],  [type="reset"], [type="submit"]{
  -webkit-appearance:button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style:none;
  padding:0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline:1px dotted ButtonText;
}

fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}

legend{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}

progress{
  display:inline-block;
  vertical-align:baseline;
}

textarea{
  overflow:auto;
}

[type="checkbox"],
[type="radio"]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding:0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height:auto;
}

[type="search"]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}

details,  menu{
  display:block;
}

summary{
  display:list-item;
}

canvas{
  display:inline-block;
}

template{
  display:none;
}

[hidden]{
  display:none;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr{
  margin:0;
  padding:0;
}

abbr[title],
dfn[title]{
  cursor:help;
}

u, ins{
  text-decoration:none;
}

ins{
  border-bottom:1px solid;
}

html{
  font-size:62.5%;
  overflow-y:scroll;
  height:100%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

*, *:before, *:after{
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
}

body{
  font-family:"museo-sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:1.6rem;
  line-height:1.5;
  color:#444;
  min-height:100%;
  background:#fff;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

p{
	margin-bottom:20px;
}

p.lead{
  font-size:calc(1.6rem * 1.2);
}

h1, .h1{
	font-size:3.6rem;
}

h2, .h2{
	font-size:3.0rem;
}

h3, .h3{
	font-size:2.4rem;
}

h4, .h4{
	font-size:2.0rem;
}

h5, .h5{
	font-size:1.6rem;
}

h6, .h6{
	font-size:1.4rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	color:#222;
	font-family:"museo-sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height:1.125;
	font-weight:bold;
	margin:0 0 20px 0;
}

a{
	text-decoration:none;
	color:#3498DB;
}

a:hover, a:focus{
  color:#2980B9;
}

a.text-link{
  text-decoration:underline;
}

a.fancy-text-link{
  padding-bottom:1px;
  border-bottom:1px dotted #3498DB;
}

a.fancy-text-link:hover, a.fancy-text-link:focus{
  border-bottom:1px dotted #2980B9;
}

ul, ol{
	margin-bottom:20px;
}

li > ul,
  li > ol{
  margin-bottom:0;
}

.list-bare{
  margin:0;
  padding:0;
  list-style:none;
}

.list-inline{
  margin:0;
  padding:0;
  list-style:none;
}

.list-inline > li{
  display:inline-block;
}

.list-inline--delimited > li + li:before{
  content:", ";
}

dt{
  font-weight:bold;
}

dd{
  background:none no-repeat left top;
  padding-left:20px;
}

img{
  max-width:100%;
  font-style:italic;
  vertical-align:middle;
  height:auto;
  width:auto;
}

.gm-style img{
  max-width:none;
}

kbd{
  padding:3px 6px;
  font-size:95%;
  color:white;
  background-color:black;
  border-radius:3px;
}

pre{
  display:block;
  padding:0;
  color:black;
  margin-bottom:20px;
  word-break:break-all;
  word-wrap:break-word;
  background-color:#f6f6f6;
  border:1px solid #e2e2e2;
  border-radius:2px;
  line-height:1;
}

pre code{
  padding:0;
  font-size:inherit;
  color:inherit;
  white-space:pre-wrap;
  background-color:transparent;
  border-radius:0;
}

hr{
  margin-bottom:20px;
  color:#e2e2e2;
  border:none;
  border-bottom-width:1px;
  border-bottom-style:solid;
}

hr.dashed{
  border-bottom-style:dashed;
}

hr.dotted{
  border-bottom-style:dotted;
}

hr.thick{
  border-bottom-width:2px;
}

.table{
  width:100%;
}

.table thead th{
  text-align:left;
}

.table tr th{
  text-align:left;
}

.table--inverse{
  background:black;
  color:white;
}

.table--fixed{
  table-layout:fixed;
}

.table--compact th,
  .table--compact td{
  padding:calc(20px / 4);
}

.table--cosy th,
  .table--cosy td{
  padding:calc(20px / 2);
}

.table--comfy th,
  .table--comfy td{
  padding:20px;
}

.table--cells th,
  .table--cells td{
  border:1px solid #E2E2E2;
}

.table--rows,
  .table--rows th,
  .table--rows td{
  border:0 solid #E2E2E2;
}

.table--rows{
  border-top-width:1px;
}

.table--rows th,
  .table--rows td{
  border-bottom-width:1px;
}

.table--columns,
  .table--columns th,
  .table--columns td{
  border:0 solid #E2E2E2;
}

.table--columns{
  border-left-width:1px;
}

.table--columns th,
  .table--columns td{
  border-right-width:1px;
}

.container{
  margin:0 auto;
  padding:0 20px;
  max-width:100%;
}

.container:before,
  .container:after{
  content:" ";
  display:table;
}

.container:after{
  clear:both;
}

form{
  margin-bottom:20px;
}

fieldset{
  background:none;
  padding:20px;
  border:1px solid white;
  margin-bottom:20px;
}

fieldset legend{
  padding:0 calc(20px / 2);
  font-weight:bold;
}

label{
  width:100%;
  margin-bottom:3px;
  display:inline-block;
}

label.required:after{
  content:"*";
}

label abbr{
  display:none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="url"],
textarea{
  width:100%;
  display:block;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin-bottom:20px;
  outline:none;
  border-radius:2px;
  background:none;
  border:1px solid white;
  padding:calc(20px / 2);
  line-height:1.5;
  -webkit-transition:border .2s ease-in-out, background .2s ease-in-out;
  transition:border .2s ease-in-out, background .2s ease-in-out;

}

input[type="text"]:hover, input[type="email"]:hover, input[type="search"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="week"]:hover, input[type="time"]:hover, input[type="url"]:hover, textarea:hover{
  border:1px solid #213a8f;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
  border:1px solid #213a8f;
}

textarea{
  resize:vertical;
}

input[type="range"],
textarea{
  width:100%;
  display:block;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin-bottom:calc(20px / 2);
}

select{
  max-width:100%;
  width:auto;
  vertical-align:top;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

input[type="radio"],
input[type="checkbox"]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  vertical-align:middle;
}

input[type="checkbox"]{
  margin-right:calc(20px / 2);
}

input[type="file"]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin-bottom:calc(20px / 2);
  outline:none;
  padding:calc(20px / 4) 0;
  line-height:1;
}

input[type="submit"]{
  margin-top:-3px;
  padding:calc(20px / 2) 20px;
  background:#213a8f;
  border:1px solid transparent;
  border-radius:4px;
  cursor:pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus{
  background:none;
  border:1px solid #999999;
}

.btn{
  display:inline-block;
  vertical-align:middle;
  font:inherit;
  text-align:center;
  border:1px solid #999999;
  margin:0;
  cursor:pointer;
  overflow:visible;
  font-weight:bold;
  color:#444;
  padding:calc(20px / 2) 20px;
  background-color:white;
  -webkit-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out;
  border-radius:3px;
}

.btn:hover,
  .btn:focus{
  text-decoration:none;
  color:#444;
  background-color:#FAFAFA;
}

.btn::-moz-focus-inner{
  border:0;
  padding:0;
}

.btn--small{
  padding:calc(20px / 4) calc(20px / 2);
}

.btn--large{
  padding:20px calc(20px * 2);
}

.btn--full{
  width:100%;
}

.btn--pill{
  border-radius:100px;
}

.btn-group > .btn{
  float:left;
  border-radius:0;
  border-right:none;
}

.btn-group > .btn:first-child{
  border-radius:3px 0 0 3px;
}

.btn-group > .btn:last-child{
  border-right:1px solid #999999;
  border-radius:0 3px 3px 0;
}

.clearfix:before,
  .clearfix:after,
  .cf:before,
  .cf:after{
  content:"";
  display:table;
}

.clearfix:after, .cf:after{
  clear:both;
}

.hidden{
  display:none !important;
}

.visuallyhidden{
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
  clip:auto;
  height:auto;
  margin:0;
  overflow:visible;
  position:static;
  width:auto;
}

.invisible{
  visibility:hidden;
}

.sep{
  margin:0 calc(20px / 2);
}

.muted{
  opacity:0.4;
}

.accordion{
  margin-bottom:20px;
}

.accordion__item{
  margin-bottom:calc(20px / 4);
}

.accordion__item .open{
  display:none;
}

.accordion__item.active .accordion__title{
  text-decoration:underline;
  display:block;
}

.accordion__item.active .open{
  display:inline-block;
}

.accordion__item.active .closed{
  display:none;
}

.accordion__title{
  margin:0;
  font-size:24px;
  cursor:pointer;
}

.accordion__title span{
  font-size:16px;
  display:inline-block;
  vertical-align:middle;
  float:right;
}

.accordion__content{
  padding:calc(20px / 2) 0;

}

.accordion__content > :last-child{
  margin-bottom:0;
}

.breadcrumb{
  margin-bottom:20px;

}

.breadcrumb li:after{
  content:" ›";
}

.breadcrumb li:last-child:after{
  content:"";
}

.dropdown-trigger{
  position:relative;
  text-align:left;
  outline:none;
}

.dropdown-trigger .open{
  display:none;
}

.dropdown-trigger.active .open{
  display:inline;
}

.dropdown-trigger.active .closed{
  display:none;
}

.dropdown-trigger .dropdown-menu{
  border:1px solid #e2e2e2;
  border-radius:3px;
  position:absolute;
  margin-top:5px;
  top:100%;
  left:0;
  min-width:180px;
}

.dropdown-trigger .dropdown-menu li{
  font-weight:normal;
}

.dropdown-trigger .dropdown-menu li a{
  display:block;
  padding:calc(20px / 4);
}

.dropdown-trigger .dropdown-menu li:hover a, .dropdown-trigger .dropdown-menu li:focus a{
  background:#f5f5f5;
  color:black;
}

.pagination{
  text-align:center;

}

.pagination li a{
  color:black;
  padding:calc(20px / 4) calc(20px / 2);
  background:#f5f5f5;
  border-radius:2px;
}

.pagination li.active a, .pagination li:hover a{
  background:#e2e2e2;
}

.panel{
  margin-bottom:20px;
  background:#f5f5f5;
  padding:20px;

}

.panel > :last-child{
  margin-bottom:0;
}

.panel.panel--tiny{
  padding:calc(20px / 4);
}

.panel.panel--small{
  padding:calc(20px / 2);
}

.panel.panel--large{
  padding:calc(20px * 2);
}

.panel.panel--extra-large{
  padding:calc(20px * 3);
}

.panel.panel--huge{
  padding:calc(20px * 4);
}

.panel.panel--info{
  background:#43a0de;
  color:white;
}

.panel.panel--info h1,.panel.panel--info h2,.panel.panel--info h3,.panel.panel--info h4,.panel.panel--info h5,.panel.panel--info h6{
  color:white;
}

.panel.panel--warning{
  background:#f1c40f;
  color:white;
}

.panel.panel--warning h1,.panel.panel--warning h2,.panel.panel--warning h3,.panel.panel--warning h4,.panel.panel--warning h5,.panel.panel--warning h6{
  color:white;
}

.panel.panel--danger{
  background:#e74c3c;
  color:white;
}

.panel.panel--danger h1,.panel.panel--danger h2,.panel.panel--danger h3,.panel.panel--danger h4,.panel.panel--danger h5,.panel.panel--danger h6{
  color:white;
}

.panel.panel--success{
  background:#30cd73;
  color:white;
}

.panel.panel--success h1,.panel.panel--success h2,.panel.panel--success h3,.panel.panel--success h4,.panel.panel--success h5,.panel.panel--success h6{
  color:white;
}

body{
  background-color:#213a8f;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.home .hentry{
  background:rgba(250,250,250,0.85);
  padding:calc(20px * 2);
  border-radius:4px;
  -webkit-box-shadow:0px 0px 20px 2px #605c99;
          box-shadow:0px 0px 20px 2px #605c99;
  margin-bottom:calc(20px * 2);
  -webkit-animation-duration:1.5s;
          animation-duration:1.5s;
}

.home .hentry h2{
  color:#213a8f;
  font-size:2.3rem;
  font-weight:700;
}

.home .hentry p.lead{
  color:#213a8f;
  font-size:1.6rem;
  font-weight:500;
}

.home .hentry p{
  color:#777777;
  font-size:1.4rem;
}

.home .hentry a.showmore{
  display:block;
  margin-bottom:0;
  color:#777777;
  font-size:1.4rem;
  -webkit-transition:margin .5s ease-in-out;
  transition:margin .5s ease-in-out;
}

.home .hentry a.showmore .fa{
  color:#213a8f;
  margin-left:calc(20px / 4);
  padding-top:5px;
}

.home .hentry a.showmore.margin{
  margin-bottom:20px;
}

.home .hentry .secondary-copy{
  display:none;
  margin-top:50px;
}

.home .contact-form{
  background:rgba(250,250,250,0.85);
  padding:calc(20px * 2);
  border-radius:4px;
  -webkit-box-shadow:0px 0px 20px 2px #605c99;
          box-shadow:0px 0px 20px 2px #605c99;
  -webkit-animation-duration:1.5s;
          animation-duration:1.5s;
}

.home .contact-form h2{
  color:#213a8f;
  font-size:2.3rem;
  font-weight:700;
  margin-bottom:calc(20px + calc(20px / 2));
}

.home .contact-form p{
  color:#777777;
  font-size:1.4rem;
  margin-bottom:calc(20px * 2);
}

.home .contact-form form{
  margin-bottom:0;
}

.home .contact-form form p{
  margin-bottom:0;
}

.home .contact-form form .ajax-loader{
  display:none;
}

.home .contact-form input[type="text"],
    .home .contact-form input[type="email"]{
  background:white;
  border-radius:40px;
  height:50px;
  padding:20px;
  color:#213a8f;
  font-weight:500;
  font-size:1.8rem;
  margin-bottom:0;
}

.home .contact-form input[type="text"]::-webkit-input-placeholder, .home .contact-form input[type="email"]::-webkit-input-placeholder{
  color:#213a8f;
}

.home .contact-form input[type="text"]:-moz-placeholder, .home .contact-form input[type="email"]:-moz-placeholder{
  color:#213a8f;
}

.home .contact-form input[type="text"]::-moz-placeholder, .home .contact-form input[type="email"]::-moz-placeholder{
  color:#213a8f;
}

.home .contact-form input[type="text"]:-ms-input-placeholder, .home .contact-form input[type="email"]:-ms-input-placeholder{
  color:#213a8f;
}

.home .contact-form input[type="text"].wpcf7-not-valid, .home .contact-form input[type="email"].wpcf7-not-valid{
  border:1px solid red;
}

.home .contact-form .wpcf7-not-valid-tip{
  display:none!important;
}

.home .contact-form textarea{
  background:white;
  border-radius:20px;
  height:150px;
  padding:20px;
  color:#213a8f;
  font-weight:500;
  font-size:1.8rem;
  margin-bottom:0;
}

.home .contact-form textarea::-webkit-input-placeholder{
  color:#213a8f;
}

.home .contact-form textarea:-moz-placeholder{
  color:#213a8f;
}

.home .contact-form textarea::-moz-placeholder{
  color:#213a8f;
}

.home .contact-form textarea:-ms-input-placeholder{
  color:#213a8f;
}

.home .contact-form textarea.wpcf7-not-valid{
  border:1px solid red;
}

.home .contact-form input[type="submit"]{
  border-radius:40px;
  height:50px;
  color:white;
  font-weight:500;
  margin-bottom:0;
  width:100%;
  font-weight:500;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  outline:none;
}

.home .contact-form input[type="submit"]:hover, .home .contact-form input[type="submit"]:focus{
  background:#0d7b5f;
}

.home .contact-form .wpcf7-validation-errors, .home .contact-form .wpcf7-mail-sent-ok{
  background:#F1C40F;
  font-size:14px;
  color:#213a8f;
  padding:calc(20px / 2);
  border-radius:4px;
  border:1px solid #F1C40F;
}

.home .contact-form .wpcf7-mail-sent-ok{
  background:#2ECC71;
  border:1px solid #2ECC71;
  color:white;
}

.site-header{
  padding:calc(20px * 2) 0;
}

.site-header .site-logo{
  max-width:221px;
  display:block;
  margin:0 auto;
}

.site-header .tagline{
  display:none;
}

.site-footer{
  padding:calc(20px * 2) 0 calc(20px * 2) 0;
  color:white;
  -webkit-animation-duration:3s;
          animation-duration:3s;
}

.site-footer .site-info{
  text-align:center;
  font-size:1.4rem;
}

@media(min-width: 480px){

  .container{
    max-width:480px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
  }

  .container:before{
    content:'';
    display:table;
  }

  .container:after{
    content:'';
    display:table;
    clear:both;
  }
}

@media (min-width: 768px){

  .container{
    max-width:750px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
  }

  .container:before{
    content:'';
    display:table;
  }

  .container:after{
    content:'';
    display:table;
    clear:both;
  }

  .home .hentry h2{
    font-size:3.0rem;
    margin-bottom:calc(20px * 2);
    width:70%;
  }

  .home .hentry p.lead{
    font-size:2.0rem;
    margin-bottom:calc(20px * 2);
  }

  .home .hentry a.showmore{
    display:none;
  }

  .home .hentry .secondary-copy{
    display:block!important;
    margin-top:50px;
  }

  .home .contact-form h2{
    font-size:3.0rem;
  }

  .home .contact-form input[type="submit"]{
    width:50%;
  }

  .home .contact-form .wpcf7-validation-errors, .home .contact-form .wpcf7-mail-sent-ok{
    width:50%;
  }

  .site-header .site-logo{
    margin:auto;
    float:left;
    width:calc(99.9% * 1/2 - (30px - 30px * 1/2));
    max-width:200px;
  }

  .site-header .site-logo:nth-child(1n){
    float:left;
    margin-right:30px;
    clear:none;
  }

  .site-header .site-logo:last-child{
    margin-right:0;
  }

  .site-header .site-logo:nth-child(2n){
    margin-right:0;
    float:right;
  }

  .site-header .site-logo:nth-child(2n + 1){
    clear:both;
  }

  .site-header .tagline{
    display:block;
    width:calc(99.9% * 1/2 - (30px - 30px * 1/2));
  }

  .site-header .tagline:nth-child(1n){
    float:left;
    margin-right:30px;
    clear:none;
  }

  .site-header .tagline:last-child{
    margin-right:0;
  }

  .site-header .tagline:nth-child(2n){
    margin-right:0;
    float:right;
  }

  .site-header .tagline:nth-child(2n + 1){
    clear:both;
  }

  .site-header .tagline p{
    margin-bottom:0;
    padding-top:15px;
    text-align:right;
    color:white;
    font-weight:500;
    font-size:1.8rem;
  }

  .site-footer .site-info{
    text-align:left;
  }
}

@media(min-width: 992px){

  .container{
    max-width:970px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
  }

  .container:before{
    content:'';
    display:table;
  }

  .container:after{
    content:'';
    display:table;
    clear:both;
  }

  .home .hentry{
    width:calc(99.9% * 1/2 - (30px - 30px * 1/2));
    height:715px;
  }

  .home .hentry:nth-child(1n){
    float:left;
    margin-right:30px;
    clear:none;
  }

  .home .hentry:last-child{
    margin-right:0;
  }

  .home .hentry:nth-child(2n){
    margin-right:0;
    float:right;
  }

  .home .hentry:nth-child(2n + 1){
    clear:both;
  }

  .home .hentry{
    width:calc(99.9% * 1/2 - (30px - 30px * 1/2));
    height:715px;
  }

  .home .hentry:nth-child(1n){
    float:left;
    margin-right:30px;
    clear:none;
  }

  .home .hentry:last-child{
    margin-right:0;
  }

  .home .hentry:nth-child(2n){
    margin-right:0;
    float:right;
  }

  .home .hentry:nth-child(2n + 1){
    clear:both;
  }

  .home .hentry h2{
    width:100%;
  }

  .home .contact-form{
    width:calc(99.9% * 1/2 - (30px - 30px * 1/2));
    height:715px;
  }

  .home .contact-form:nth-child(1n){
    float:left;
    margin-right:30px;
    clear:none;
  }

  .home .contact-form:last-child{
    margin-right:0;
  }

  .home .contact-form:nth-child(2n){
    margin-right:0;
    float:right;
  }

  .home .contact-form:nth-child(2n + 1){
    clear:both;
  }

  .home .contact-form{
    width:calc(99.9% * 1/2 - (30px - 30px * 1/2));
    height:715px;
  }

  .home .contact-form:nth-child(1n){
    float:left;
    margin-right:30px;
    clear:none;
  }

  .home .contact-form:last-child{
    margin-right:0;
  }

  .home .contact-form:nth-child(2n){
    margin-right:0;
    float:right;
  }

  .home .contact-form:nth-child(2n + 1){
    clear:both;
  }

  .home .contact-form .wpcf7-validation-errors, .home .contact-form .wpcf7-mail-sent-ok{
    width:70%;
  }

  .site-header{
    padding:60px 0 90px 0;
  }

  .site-header .tagline p{
    padding-top:20px;
    font-size:2.0rem;
    padding-top:12px;
  }

  .site-footer{
    padding-top:calc(20px / 2);
  }
}

@media   (min-width: 1200px){

  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
  }

  .container:before{
    content:'';
    display:table;
  }

  .container:after{
    content:'';
    display:table;
    clear:both;
  }

  .home .hentry{
    height:610px;
  }

  .home .contact-form{
    height:610px;
  }

  .home .contact-form .wpcf7-validation-errors, .home .contact-form .wpcf7-mail-sent-ok{
    width:100%;
    margin-top:15px;
  }
}
/*# sourceMappingURL=maps/style.css.map */
