/* Footer shared styles */
.site-footer {
  padding: $base-space--double 0 $base-space--double 0;
  @media(--desktop) {
    padding-top: $base-space--half;    
  }
  color: white;
  animation-duration: 3s;
  .site-info {
    text-align: center;
    font-size: 1.4rem;
    @media(--tablet) {
      text-align: left;
    }
  }
}

