/* Header shared styles */
.site-header {
  padding: $base-space--double 0;
  @media(--desktop) {
    padding: 60px 0 90px 0;
  }
  .site-logo {
    max-width: 221px;
    display: block;
    margin: 0 auto;
    @media(--tablet) {
      margin: auto;
      float: left;
      lost-column: 1/2;
      max-width: 200px;
    }
  }
  .tagline {
    display: none;
    @media(--tablet) {
      display: block;
      lost-column: 1/2;
      p {
        margin-bottom: 0;
        padding-top: 15px;
        text-align: right;
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
      }
    }
    @media(--desktop) {
      p {
        padding-top: $base-space;
        font-size: 2.0rem;
        padding-top: 12px;
      }
    }
  }
}