/* Project shared styles */
body {
  background-color: #213a8f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Homepage */

.home {
  .hentry {
    background: rgba(250,250,250,0.85);
    padding: $base-space--double;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 2px #605c99;
    margin-bottom: $base-space--double;
    animation-duration: 1.5s;
    @media(--desktop) {
      lost-column: 1/2;
      height: 715px;
    }
    @media(--wide) {
      height: 610px;
    }

    @media(--desktop) {
      lost-column: 1/2;
      height: 715px;
    }
    h2 {
      color: $brand;
      font-size: 2.3rem;
      font-weight: 700;
      @media(--tablet) {
        font-size: 3.0rem;
        margin-bottom: $base-space--double;
        width: 70%;
      }
      @media(--desktop) {
        width: 100%;
      }
    }
    p.lead {
      color: $brand;
      font-size: 1.6rem;
      font-weight: 500;
      @media(--tablet) {
        font-size: 2.0rem;
        margin-bottom: $base-space--double;
      }
    }
    p {
      color: $grey7;
      font-size: 1.4rem;
    }
    a.showmore {
      display: block;
      margin-bottom: 0;
      color: $grey7;
      font-size: 1.4rem;
      transition: margin .5s ease-in-out;
      .fa {
        color: $brand;
        margin-left: $base-space--quarter;
        padding-top: 5px;
      }
      &.margin {
        margin-bottom: $base-space;
      }
      @media(--tablet) {
        display: none;
      }
    }
    .secondary-copy {
      display: none;
      margin-top: 50px;
      @media(--tablet) {
        display: block!important;
        margin-top: 50px;
      }
    }
  }

  .contact-form {
    background: rgba(250,250,250,0.85);
    padding: $base-space--double;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 2px #605c99;
    animation-duration: 1.5s;
    @media(--desktop) {
      lost-column: 1/2;
      height: 715px;
    }
    @media(--wide) {
      height: 610px;
    }

    @media(--desktop) {
      lost-column: 1/2;
      height: 715px;
    }
    h2 {
      color: $brand;
      font-size: 2.3rem;
      font-weight: 700;
      margin-bottom: calc($base-space + $base-space--half);
      @media(--tablet) {
        font-size: 3.0rem;
      }
    }
    p {
      color: $grey7;
      font-size: 1.4rem;
      margin-bottom: $base-space--double;
    }

    form {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
      .ajax-loader {
        display: none;
      }
    }

    /* form styles */
    input[type="text"],
    input[type="email"] {
      background: white;
      border-radius: 40px;
      height: 50px;
      padding: $base-space;
      color: $brand;
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 0;
      &::-webkit-input-placeholder {
         color: #213a8f;
      }
      &:-moz-placeholder { /* Firefox 18- */
         color: #213a8f;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
         color: #213a8f;
      }
      &:-ms-input-placeholder {
         color: #213a8f;
      }
      &.wpcf7-not-valid {
        border: 1px solid red;
      }
    }

    .wpcf7-not-valid-tip {
      display: none!important;
    }

    textarea {
      background: white;
      border-radius: 20px;
      height: 150px;
      padding: $base-space;
      color: $brand;
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 0;
      &::-webkit-input-placeholder {
         color: #213a8f;
      }
      &:-moz-placeholder { /* Firefox 18- */
         color: #213a8f;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
         color: #213a8f;
      }
      &:-ms-input-placeholder {
         color: #213a8f;
      }
      &.wpcf7-not-valid {
        border: 1px solid red;
      }
    }

    input[type="submit"] {
      border-radius: 40px;
      height: 50px;
      color: white;
      font-weight: 500;
      margin-bottom: 0;
      width: 100%;
      font-weight: 500;
      transition: all .2s ease-in-out;
      outline: none;
      &:hover, &:focus {
        background: #0d7b5f;
      }
      @media(--tablet) {
        width: 50%;
      }
    }

    .wpcf7-validation-errors, .wpcf7-mail-sent-ok {
      background: $warning;
      font-size: 14px;
      color: $brand;
      padding: $base-space--half;
      border-radius: 4px;
      border: 1px solid $warning;
      @media(--tablet) {
        width: 50%;
      }
      @media(--desktop) {
        width: 70%;
      }
      @media(--wide) {
        width: 100%;
        margin-top: 15px;
      }
    }

    .wpcf7-mail-sent-ok {
      background: $success;
      border: 1px solid $success;
      color: white;
    }

  }
}
