/**
 * <div class="accordion">
 *   <div class="accordion__item">
 *     <h2 class="accordion__title">Title <span class="closed">&#9660;</span> <span class="open">&#9650;</span> </h2>
 *      <div class="accordion__content">
 *        <p>Lorem ipsum dolor sit amet.</p>
 *      </div>
 *    </div>
 *  </div>
 */

.accordion {
  margin-bottom: $base-space;
}

.accordion__item {
  margin-bottom: $base-space--quarter;

  .open {
    display: none;
  }

  &.active {
    .accordion__title {
      text-decoration: underline;
      display: block;
    }
    .open {
      display: inline-block;
    }
    .closed {
      display: none;
    }
  }
}

.accordion__title {
  margin: 0;
  font-size: 24px;
  cursor: pointer;
  span {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: right;
  }
}

.accordion__content {
  padding: $base-space--half 0;

  & > :last-child {
    margin-bottom: 0;
  }

}
