/* A better default palette for the web */
$aqua:              #7FDBFF;
$blue:              #0074D9;
$navy:              #001F3F;
$teal:              #39CCCC;
$green:             #2ECC40;
$olive:             #3D9970;
$lime:              #01FF70;
$silver:            #DDDDDD;
$yellow:            #FFDC00;
$orange:            #FF851B;
$red:               #FF4136;
$fuchsia:           #F012BE;
$purple:            #B10DC9;
$maroon:            #85144B;

/* Light to dark */
$white:             #f6f6f6;
$off-white:         #FAFAFA;
$light:             #E2E2E2;
$dark:              #7F8C8D;
$off-black:         #252525;
$black:             #1B1B1B;

/* Greys */
$grey1:             #111111;
$grey2:             #222222;
$grey3:             #333333;
$grey4:             #444444;
$grey5:             #555555;
$grey6:             #666666;
$grey7:             #777777;
$grey8:             #888888;
$grey9:             #999999;

/* Flat UI palette */
$flat-green:        #2ECC71;
$flat-green-dk:     #27AE60;
$flat-mint:         #1ABC9C;
$flat-mint-dk:      #16A085;
$flat-blue:         #3498DB;
$flat-blue-dk:      #2980B9;
$flat-navy:         #34495E;
$flat-navy-dk:      #2C3E50;
$flat-purple:       #9B59B6;
$flat-purple-dk:    #8E44AD;
$flat-yellow:       #F1C40F;
$flat-yellow-dk:    #F39C12;
$flat-orange:       #E67E22;
$flat-orange-dk:    #D35400;
$flat-red:          #E74C3C;
$flat-red-dk:       #C0392B;

/* Helpers */
$info:              $flat-blue;
$success:           $flat-green;
$warning:           $flat-yellow;
$danger:            $flat-red;