/*  Alignments */
.alignnone {
    margin: $base-space--quarter $base-space $base-space 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: $base-space auto $base-space auto;
}

.alignright {
    float:right;
    margin: $base-space 0 $base-space $base-space;
}

.alignleft {
    float: left;
    margin: $base-space $base-space $base-space 0;
}

a img.alignright {
    float: right;
    margin: $base-space 0 $base-space $base-space;
}

a img.alignnone {
    margin: $base-space $base-space $base-space 0;
}

a img.alignleft {
    float: left;
    margin: $base-space $base-space $base-space 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*  Captions */
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: $base-space--quarter $base-space--half;
    text-align: center;
}

.wp-caption.alignnone {
    margin: $base-space--quarter $base-space $base-space 0;
}

.wp-caption.alignleft {
    margin: $base-space--quarter $base-space $base-space 0;
}

.wp-caption.alignright {
    margin: $base-space--quarter 0 $base-space $base-space;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}